*~
*.tar.*
*.gz
*.tgz
*.jar
*.zip
*.deb
*.rpm
*.bin
*.run
*/pkg/*
*/src/*
*Board*
*board*
*.patch
*.diff
*.gem
*.py[cdo]
*.out
.SRCINFO
notes
Todo
a
adduser
akabei-git/akabei.conf
akabei-git/local
akabei-git/mpt.log
akabei-git/see
akabei-git/see2
akabei-git/see3
akabei-git/see4
akabei-git/see5
akabei-git/seelog
akabeiclient-git/mpt.log
akabeicore-git/mpt.log
alienfx-lite/META-INF/
alienfx-lite/lib/
alienfx-lite/uk/
before
breakit/.part
breakit/test.xml
bst/
burpsuite/icon64.png
burpsuite/icon64.png.bak
calamares/calamares/
calamares/installer.svg
calamares/kdm_sddm.conf
calamares/launch-calamares.sh
calamares/locale.conf
calamares/prepare.conf
calamares/settings.conf
depends
files
flashrom/2
g95/after
g95/arrays
g95/before
g95/none.sh
g95/pkgvars.py
g95/pkgvars.sh
g95/test
g95/test.out
groups/
heroku-toolbelt/Gemfile
heroku-toolbelt/Gemfile.lock
ignore
john/PKGBUILD2
johnny-git/johnny-128.png
linconnect-sserger-git/master/
log2timeline/log2timeline/
log2timeline/mpt.log
maltego/M3GuideGUI.pdf
maltego/MaltegoCarbonCE.v3.5.3.zip
mass-pkg-test
metasploit-bin/metasploit-4.6.2-linux-x64-installer.run
metasploit-bin/metasploit.sh
other/
p0f/p0f-2.0.8.tgz.bak
qtshark-git/.srcinfo.json
qtshark-svn/src-dirty/
ruby-rails/rails-4.0.2.gem
ruby-rake/rake-10.0.2.gem
sec
secf
sendmail/Makefile
sendmail/aliases.0
sendmail/mailq.0
sendmail/newaliases.0
sendmail/sendmail.0
sendmail/sm_os.h
setfile
update
v6
